@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --green: rgb(0, 128, 0);
    --orange: rgb(200, 132, 7);
    --black: #1e1e1f;
    --white: rgb(255, 255, 255);
    --light-color: #666;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --border: .2rem solid rgba(0,0,0,1);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --outline: .1rem solid rgba(0,0,0,1);
} 

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", san-serif;  
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .2s linear;
}
 
 a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow: scroll;
    scroll-padding: 7rem;
    scroll-behavior: smooth; 
}

section{
    padding: 2rem 9%;
}

 h1{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}


.header{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header, .sticky{
    position: sticky;
    top:0; 
    left: 0; 
    right: 0; 
    z-index: 3;
}

.sticky{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: rgb(116, 149, 6);
}

.header a{
    color: black;
    align-items: center;
    justify-content: space-between;
}

.header span{
    color: red;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
    justify-content: space-around;
}

.header .navbar a:hover{
    color: #ff3333;
}

.nav__logo {
  transition: all 0.3s;
  height: 6rem;
  cursor: pointer;
  margin-right: 10px;
}

.nav__logo:hover {
  transform: rotate(360deg);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: none;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
    align-items: center;
    background: url(index.jpg) no-repeat;
}

.home .home-content{
    flex: 1 1 45rem;
    align-items: center;
    justify-content: center;
    padding-left: 5em;
    width: 50%;
    padding-bottom: 6rem;
}

.home .home-content h3{
    font-size: 5.9rem;
    color: var(--white);
    line-height: 1.3;
    text-shadow: var(--text-shadow);
}
.home .home-content span{
    color: red;
}

.home .home-content .desc{
    font-size: 3.2rem;
    color: white;
    text-shadow: text-shadow;
    line-height: 1.8;
    padding: 1rem 0;
}

.home .home-content p{
    font-size: 2.8rem;
    color: white;
    text-shadow: text-shadow;
    line-height: 1.8;
    padding: 1rem 0;
}
.red-button {
    color: white; /* Текстът е бял */
    background: linear-gradient(to right, #f87171, #ef4444, #dc2626); /* Градиент от червени тонове */
    border: none; /* Без рамка */
    padding: 10px 20px; /* Отстояние вътре в бутона */
    font-size: 14px; /* Размер на текста */
    font-weight: 500; /* Средно удебелен шрифт */
    border-radius: 8px; /* Закръглени ъгли */
    box-shadow: 0 4px 6px rgba(239, 68, 68, 0.5), 0 6px 10px rgba(185, 28, 28, 0.5); /* Сянка на бутона */
    text-align: center; /* Центриран текст */
    cursor: pointer; /* Променя курсора на ръка */
    margin-right: 10px; /* Разстояние вдясно */
    margin-bottom: 10px; /* Разстояние отдолу */
    transition: background 0.3s, box-shadow 0.3s; /* Плавен преход за ховър ефекта */
}

.red-button:hover {
    background: linear-gradient(to bottom right, #dc2626, #ef4444); /* Градиент при ховър */
    box-shadow: 0 6px 8px rgba(239, 68, 68, 0.6), 0 8px 12px rgba(185, 28, 28, 0.6); /* Засилена сянка */
}

.red-button:focus {
    outline: none; /* Премахва стандартната рамка при фокусиране */
    box-shadow: 0 0 0 4px rgba(239, 68, 68, 0.3); /* Добавя фокус ефект */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.card {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
    cursor: pointer;
}
.container .card:hover{
    box-shadow: 10px 10px 20px grey;
}

.icon {
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
}

.card, h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 0px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
}

.card, p {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
}

.card:nth-child(1) {
    background-image: url('bear.jpg');
}

.card:nth-child(2) {
    background-image: url('dog.jpg');
}

.card:nth-child(3) {
    background-image: url('cat.jpg');
}

.card3 {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
}
.card4 {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
}
.card5 {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
}
.card6 {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
}


.container .card3:hover{
    box-shadow: 10px 10px 20px grey;
}

.card3:nth-child(1) {
    background-image: url('card3photo.webp');
}

.card3:nth-child(2) {
    background-image: url('card3photo2.webp');
}

.card3:nth-child(3) {
    background-image: url('card3photo3.webp');
}


.container .card4:hover{
    box-shadow: 10px 10px 20px grey;
}
.container .card5:hover{
    box-shadow: 10px 10px 20px grey;
}
.container .card6:hover{
    box-shadow: 10px 10px 20px grey;
}

.card4:nth-child(1) {
    background-image: url('gallery1.jpg');
}

.card4:nth-child(2) {
    background-image: url('gallery2.jpg');
}

.card4:nth-child(3) {
    background-image: url('gallery3.jpg');
}

.card5:nth-child(1) {
    background-image: url('insta-2.jpg');
}

.card5:nth-child(2) {
    background-image: url('gallery4.jpg');
}

.card5:nth-child(3) {
    background-image: url('insta-3.jpg');
}

.card6:nth-child(1) {
    background-image: url('gallery5.jpg');
}

.card6:nth-child(2) {
    background-image: url('insta-4.jpg');
}

.card6:nth-child(3) {
    background-image: url('gallery6.jpg');
}

.card, .button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button.orange {
    background-color: #ff7f00;
}

.button.orange:hover {
    background-color: #e67300;
}

.button.blue {
    background-color: #007bff;
}

.button.blue:hover {
    background-color: #0056b3;
}

.button.purple {
    background-color: #9b59b6;
}

.button.purple:hover {
    background-color: #7d3c98;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-top: 10px;
}

.card-container2 .card2{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card-container2 .card2:hover{
    transform: translateY(-20px);
}

.card-container2 .card2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}

.card-container2 .card-content h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.card-container2 .card-content p{
    font-size: 15px;
    color:#666;
    margin-bottom: 20px;
}

.card-container2 .card-button{
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b32d00;
    color:#fff;
    text-decoration: none;
}


.footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #00b33c;
    height: 200px;
    width: 100%;
    color: #fff;
    flex: 1 1 45rem;
}

.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer-content h3{
    font-size: 4.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    font-weight: bolder;
    color: white;
}

.footer .footer-content h3 span{
    color: #ff0000;
}

.footer .footer-content p{
    max-width: 85%;
    margin: 10px auto;
    line-height: 1.8;
    font-size: 2.5rem;
    color: rgb(143, 139, 139);
}

.footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer .socials li{
    margin-top: 10px;
}
.footer .socials a{
    text-decoration: none;
    color: #fff;
    padding: 2.5rem;
    
}
.footer .socials a i{
    font-size: 3.1rem;
    width: 3rem;
    transition: color .4s ease;
}

.fa-facebook:hover {
    color: #3b5998; 
}
.fa-twitter:hover {
    color: #0d95e8; 
}
.fa-google-plus-g:hover {
    color: #b03128;
}
.fa-youtube:hover {
    color: #cc0000; 
}
.fa-instagram:hover {
    color: #e1306c;
}
.footer h4{
    font-size: 20px;
    font-family: "Times New Roman", san-serif; 
}

.footer-bottom{
    background: #ccffcc;
    width: 100;
    padding: 5px;
    text-align: center;
    flex-wrap: wrap;
}

.footer-bottom p{
    word-spacing: 2px;
    color: #666;
    text-transform: capitalize;
    font-size: 2rem;
 }
.footer-bottom p a{
   color:black;
   font-size: 2rem;
   text-decoration: none;
 }
.footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
.footer-bottom .navbar{
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

.footer-bottom .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
    justify-content: space-around;
}

.footer-bottom .navbar a:hover{
    color: #ff3333;
}
.content-wrapper {
     background-image: url('petcare2.jpg');
     max-width: 800px;
     margin: 20px auto;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}.content-wrapper  h1 {
     font-size: 24px;
      margin-bottom: 20px;
     color: black;
}

.contact-info {
     margin-bottom: 20px;
}

.contact-info h2 {
     color: black;
     font-size: 20px;
     margin-bottom: 10px;
}

.contact-info p {
     color: black;
     margin: 5px 0;
}

.contact-info form {
     background: #f9f9f9;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

form label {
     font-size: 15px;
     color: black;
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
}

form h2{
     color:darkblue; 
}

form .h22{
    margin-top: 150px;
}

form input, form textarea, form select {
     color: black;
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
}

form button {
     display: block;
     width: 100%;
     background: #003366;
     color: #fff;
     border: none;
     padding: 10px;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
}

form button:hover {
     background: #0066cc;
}

.captcha {
     
     margin-bottom: 1px;
     display: flex;
     align-items: center;
     gap: 10px;
}

.captcha img {
     height: 50px;
}

.privacy {
     font-size: 14px;
     color: black;
     font-weight: bold;
            
}

.privacy a {
     color: #4caf50;
     text-decoration: none;
}

.privacy a:hover {
     text-decoration: underline;
}


.container_about{
  
}
.image img{
  height:260px;
  width:400px;
  box-shadow: 20px 20px grey;
}

.grid{
  display:flex;
  background-color:light-grey;
  padding:15px;
}
.text{
  padding:5px 100px 50px;
}
.about h2{
     color:black;
     margin-left: 39rem;
}

.text p{
      font-size: 20px;
      color:black;
      font-family: "Times New Roman", san-serif;
}


.static-img {
  display: block; 
}

       .table1 h1 {
            text-align: center;
            color: black;
            font-size: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            background: #fff;
        }
        th, td {
            font-size: 18px;
            border: 1px solid #ddd;
            padding: 3px;
            text-align: center;
        }
        th {
            background-color: #ff3333;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        a {
            color: #0056b3;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }




@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }
    .home .home-content{
        width: 100%;
        padding-left: 8em;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow:var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out; 
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .home .home-content{
        width: 100%;
        padding-left: 4em;
    }
}



@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .footer .socials a i{
        font-size: 3.2rem;
        padding: .5rem;
        width: .5rem;
        margin: auto;
        text-align: center;
    }
}